.CreateUserForm{
  margin-bottom: 50px;
}
.UserProfiles{
  margin-top: -40px;
}
.UserInformation{
  background-color: rgb(23, 0, 47);
  padding: 50px 20px;
  width: 500px;
  border-radius: 0 20px 20px 0;
  float:left;
  margin: 10px;
  border-left: solid white 10px;
}

.UserInformation button{
 float: right;
 margin: 0 20px 0 0;
 background-color: #5200af;
 color: white;
 border: none;
 padding: 10px;
 border-radius: 10px;
 font-weight: 700;
 font-size: 20px;
}

.UserInformation #FollowButton{
  background-color: rgb(255, 98, 0);
}

.UserInformation h4{
  color: white;
  font-weight: 700;
}

.CreateUserForm h2{
  color: white;
  font-weight: 500;
}

.CreateUserForm Input{
  padding: 10px 20px;
  width: 400px;
  font-size: 20px;
  border-radius: 10px;
  margin-right: 20px;
  border: none;
}

.CreateUserForm #CreateUserButton, #PostUserButton, #FollowList{
  padding: 20px 20px;
  font-size: 20px;
  border: none;
  font-weight: 700;
  border-radius: 15px;
  color: white;
  background-color: #5200af;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.236);
  cursor: pointer;
}

#PostUserButton{
  background-color: #3d008d;
  margin-right: 20px;
}
#FollowList{
  background-color: rgb(255, 98, 0);
}